<!doctype html>
<html lang="en" ng-app="maraPhotos">
    <head>
        <meta charset="utf-8">
        <title>Mara - Fotografías</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="lib/angular.min.js"></script>
        <script src="lib/date.js"></script>
        <script src="lib/main.js"></script>
    </head>
    <body ng-controller="PhotoController">
	<div class="title">
		<img src="img/nombre.png"/>
		<span>Una (corta) vida en imágenes</span>
		<div class="carrusel">

		</div>
	</div>
	<div class="main">
		<div class="photo" ng-style="{'backgroundImage' : 'url(\'' + getBackgroundImage(current) + '\')'}">
			<span class="summary"><span>{{summary}}</span></span>
			<span class="navigation backward" backwardable="updatePhoto(current)"></span>
			<span class="navigation forward" forwardable="updatePhoto(current)"></span>
		</div>
		<div class="aside">
			<form class="inputs">
				<h3>Tu elección</h3>
				<p>
					<label for="months" disabled="{{formEnabled}}">Meses:</label>
					<input type="text" id="months" ng-model="input.months" disabled="{{formEnabled}}" required/>
					<span class="error" ng-show="months.$error.required">Obligatorio</span>
				</p>
				<p>
					<label for="days" disabled="{{formEnabled}}">Días:</label>
					<input type="text" id="days" ng-model="input.days" disabled="{{formEnabled}}" required/>
					<span class="error" ng-show="months.$error.required">Obligatorio</span>
				</p>
				<p>
					<button validate="updatePhoto(current)" disabled="{{formEnabled}}">Comprobar</button>
				</p>
			</form>
			<div class="results">
				<h3>Resultado</h3>
				<p>
					<label>Fecha:</label> {{result.date | date:'dd/MM/yyyy'}}
				</p>
				<p>
					<label>Meses:</label> {{result.months}}
					<br/>
					<label>Días:</label> {{result.days}}
				</p>
				<p>
					<label>Error: </label> {{result.diff}}
				</p>
			</div>
			<div class="scores">
				<h3>Puntuación</h3>
				<p>
					<label>Puntos:</label> {{error}}
				</p>
			</div>
			<img class="flip" src="img/flip.png"/>
		</div>
		<div class="aside">
			<div class="ranking">
				<h3>Ranking</h3>
				<div class="rank awful">
					<span>McDonald's</span>
				</div>
				<div class="rank bad">
					<span>Pecado Carnal</span>
				</div>
				<div class="rank medium">
					<span>Otro</span>
				</div>
				<div class="rank good">
					<span>Otro</span>
				</div>
				<div class="rank great">
					<span>Sushi Ginza</span>
				</div>
				<div class="ranking-bar">
					
				</div>
				<div name="position" class="position">
					
				</div>
			</div>
			<img class="flip" src="img/flip.png"/>
		</div>
	    </div>
    </body>
</html>

