
<div class="intro">
    <img src="img/feliz.png"/>
    <p>
	¡¡¡Feliz 26 cumpleaños amor mío!!! ¿O eran 16? Bueno, da lo mismo, lo importante es que sigamos 
	cumpliendo años juntos
    </p>
    <p>
	    Como no podía ser de otra manera, la temática del juego de este año esta clara. Tu premio será
	    mayor cuanto mejor conozcas a tu hija. Creo que es un buen argumento para que, si sacas mala
	    puntuación, te quedes sin regalo.
    </p>
    <p>
	    A continuación aparecerán un listado de fotos de la ratijilla. Tu labor es adivinar exactamente
	    la fecha en la que se hizo la foto. El número de días de error se irá acumulando y al final
	    obtendrás una puntuación final. Cuanto más alta sea esa puntuación, mayor será el error cometido
	    y, por lo tanto, peor el premio que te llevarás. ¿Entendido?
    </p>
    <p>
	Mucha suerte. ¡¡¡ A jugar !!!
    </p>
    
    <a class="start" ng-href="/#/photos"></a>
</div>
