
<div class="main makingOff">
	<p>
		Incluir esto ha sido idea de última hora, pero es que alguno de los audios me parece muy gracioso.
		Así es como grabé a la ratona charlando.
	</p>
	<ul class="playList">
		<li ng-repeat="audio in list">
			<button class="play" ng-click="play(audio)" ng-show="!audio.playing" ng-disabled="playing"></button>
			<button class="pause" ng-click="play(audio)" ng-show="audio.playing"></button>
			<span ng-click="play(audio)">{{audio.text}}</span>
		</li>
	</ul>
</div>
