
<div class="main">
	<div class="words">
	    <span class="summary"><span>{{summary}}</span></span>
	    <button class="play" ng-click="play()"></button>
            <img src="../img/bebe.gif" class="bebe" ng-show="playing"/>
	    <span class="navigation backward" backwardable click="updateAudio(current)" elements="audios"></span>
	    <span class="navigation forward" forwardable click="updateAudio(current)" elements="audios"></span>
	</div>
	<section class="aside">
	    <div id="card" ng-class="{flipped: showRanking}">
		<figure class="front">
		    <div class="card-content">
			<form class="inputs" name="inputs">
			    <h3>Tu elección</h3>
			    <p>
				<label for="word">Palabra:</label>
				<input type="text" id="word" ng-model="selectedWord" ng-disabled="formDisabled" required/>
			    </p>
			    <ul class="matches">
			    	<li ng-repeat="match in matches" ng-click="selectWord(match)">{{match}}</li>
			    </ul>
			    <p>
				<button type="submit" ng-click="validate(current)" ng-disabled="formDisabled || wrongWord || inputs.$invalid">Comprobar</button>
			    </p>
			</form>
			<div class="results" ng-show="audios[current].done">
			    <h3>Resultado</h3>
			    <p>
				<label>Palabra:</label> {{audios[current].word[0]}}
			    </p>
			    <p ng-show="audios[current].ok" class="result ok">
				¡¡Correcto!!
			    </p>
			    <p ng-show="!audios[current].ok" class="result ko">
				¡¡Fallaste!!
			    </p>
			</div>
			<div class="scores">
			    <h3>Puntuación</h3>
			    <p>
				<label>Puntos:</label> {{right}}
			    </p>
			    <div class="progress-front" ng-style="{'width': progressWidth + '%'}"></div>
			    <div class="progress-back"></div>
			</div>
		    </div>
		    <img class="flip" src="img/flip.png" ng-click="showRanking = true"/>
		</figure>

		<figure class="back">
		    <div class="card-content">
			<h3>Ranking</h3>
			<div class="rank" ng-repeat="rank in rankValues" ng-class="rank.className" ng-style="{'background-color': rank.color}">
				{{rank.text}}
			</div>
			<div class="ranking-bar">

			</div>
			<div name="position" class="position" ng-style="{'top': -45 - (100 - progressWidth) * 352 / 100 + 'px'}">

			</div>
			<p>
				<button ng-show="complete" ng-click="active = 'active'">Ver resultado</button>
			</p>
		    </div>
		    <img class="flip" src="img/flip.png" ng-click="showRanking = false"/>
		</figure>
	   </div>
	</section>
</div>
