body {
	min-width: 1250px;
	background-color: #F1F1F1;
}

div {
	border-radius: 5px;
}

div.intro, div.main {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 white;
    border-color: #F5F5F5 #E1E1E1 #C4C4C4;
    border-image: none;
    border-left: 1px solid #E1E1E1;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #E1E1E1;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 0px 12px;
    line-height: 1.6em;
    padding: 20px 12px;
    width: 76%;
}

div.intro img {
	display: block;
	width: 700px;
	height: 165px;
	margin: auto;
    	-moz-animation: spin 10s infinite linear;
    	-webkit-animation: spin 10s infinite linear;
    	animation: spin 10s infinite linear;
	
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotateY(0deg);
    }

    100% {
        -moz-transform: rotateY(360deg);
    };
}

div.intro p {
	text-align: justify;
	padding: 0 30px;
	color: #666666;
	font-family: Monaco;
}

div.intro a.start {
	display: block;
	margin: auto;
	width: 60px;
	height: 60px;
	background: url('../img/start.png') no-repeat center;
	background-size: contain;
	border: none;
	cursor: pointer;
}

div.intro button.start:active {
	background: url('../img/start-pressed.png') no-repeat center;
	background-size: contain;
}

div.title {
	float: left;
	width: 20%;
	font-size: 1em;
	text-align: center;
}

div.title img {
	width: 80%;
	margin: 2em 0;
}

div.title span {
	font-size: 1.2em;
	text-align: center;
	font-style: italic;
	display: block;
	text-align: center;
}

div.title div.carrusel {
	width: 98%;
	height: 300px;
	border: 1px solid #000000;
	margin-top: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

div.photo {
	float: left;
	width: 760px;
	height: 550px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 1s;
}

span.summary {
	display: block;
	width: 100px;
	height: 32px;
	z-index: 10;
	position: relative;
	left: 639px;
	top: 5px;
	text-align: center;
	border: 1px solid #000000;
	opacity: 0.8;
	background-color: white;
}

span.summary span {
	margin-top: 5px;
	display: block;
}

span.navigation {
	float: left;
	width: 52px;
	height: 52px;
	z-index: 20;
	position: relative;
	top: 230px;
	background-size: cover;
}

span.backward {
	left: 10px;
}

span.forward {
	left: 650px;
}

span.backwardShown {
	background-image: url('../img/arrow_left.png');
	cursor: pointer;
}

span.forwardShown {
	background-image: url('../img/arrow_right.png');
	cursor: pointer;
}

span.navigation.hidden {
	display: none;
}

section.aside {
    float: left;
    line-height: 1.6em;
    float: left;
    margin-left: 12px;
    width: 15%;
    font-size: 0.8em;
    height: 500px;
    position: relative;
    perspective: 800px;
    -webkit-perspective: 800px;
}

div.help-window, div.warn-window {
	position: absolute;
	width: 0;
	height: 0;
	z-index: 30;
	overflow: hidden;
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	background: white;
	border: 1px solid #000000;
	left: 140px;
	top: 28px;
}

div.warn-window {
	color: red;
}

div.help-window.show {
	width: 180px;
	height: 85px;
	left: -20px;
}
div.warn-window.show {
	width: 160px;
	height: 70px;
	left: -10px;
	top: 80px;
}

div.help-window div, div.warn-window div {
	padding: 15px;
}

div.help-window span {
	display: block;
	width: 170px;
}

div.help-window input {
	margin-left: 10px;
	width: 95px;
}

form.inputs, div.results {
    border-bottom: 1px solid #DADADA;
}

form.inputs img {
	float: right;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

input {
	width: 50px;
}

label {
	float: left;
	width: 65px;
	margin-top: 
}

button {
	display: block;
	margin: auto;
}

p.result {
	font-size: 1.5em;
}

p.ok {
	color: green;
}

p.ko {
	color: red;
}

div.results, div.scores {
    border-top: 1px solid #FFFFFF;
}

div.card-content {
	height: 460px;
}

img.flip {
	width: 16px;
	height: 16px;
	float: right;
	margin-bottom: 5px;
	cursor: pointer;
	clear: right;
}

div.ranking-bar {
    background-image: url("../img/progress.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    position: relative;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

figure.back div.ranking-bar {
    height: 10px;
    left: -159px;
    top: -180px;
    width: 352px;
}

div.rank {
    border-radius: 0 0 0 0;
    float: right;
    font-size: 0.8em;
    text-align: right;
    width: 71%;
}

figure.back div.rank {
	padding: 24px 10px;
}

.awful, .bad, .medium, .good {
	border-bottom: 1px solid #DADADA;
}

.bad, .medium, .good, .great {
    border-top: 1px solid #FFFFFF;
}

div.position {
	background-image: url('../img/cara.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 112%;
	position: relative;
	z-index: 10;
	border-bottom: 1px solid #000000;
	float: left;
	height: 36px;
	left: -15px;
	top: -48px;
}

div.progress-front {
    background: none repeat scroll 0 0 #F7F7F7;
    float: right;
    position: relative;
    height: 6px;
    top: 6px;
    width: 50%;
    z-index: 20;
    border-radius: 0;
}

div.progress-back {
    background-image: url('../img/progress.png');
    float: left;
    height: 5px;
    width: 100%;
    background-size: contain;
    margin-bottom: 1em;
    z-index: 1;
}

#card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: transform 1s;
	padding: 0;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #F7F7F7;
	border-color: #F5F5F5 #E1E1E1 #C4C4C4;
	border-image: none;
	border-left: 1px solid #E1E1E1;
	border-radius: 5px 5px 5px 5px;
	border-right: 1px solid #E1E1E1;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: none repeat scroll 0 0 #FBFBFB;
	padding: 0px 20px;
	z-index: 10;
}

#card figure {
	display: block;
	position: absolute;
	width: 80%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	margin: 0;
}

#card figure.back {
	margin-bottom: 10px;
	-webkit-transform: rotateY( 180deg  );
	transform: rotateY( 180deg );
}

#card.flipped {
	-webkit-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}
	
div.end {
	background-color: white;
	z-index: 100;
	display: none;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
	padding: 2em;
	width: 96%;
	height: 90%;
	padding: 2%;
}

div.end.active {
	top: 0;
	left: 0;
	display: block;
	position: absolute;
	z-index: 200;
}

div.end.active:hover {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}

@-keyframes div.end,
@-moz-keyframes div.end,
@-webkit-keyframes div.end {
    0% {
        display:none; 
        opacity: 0;
    }
    1% {
        display: block ; 
        opacity: 0;
    }
    100% {
        display: block ; 
        opacity: 1;
    }
}

div.end div.wrapper {
	border: solid 1px #CCCCCC;
	display: block;
	padding: 0 4%;
	width: 92%;
	height: 100%;
}

div.end div.rank {
	padding: 26px 10px; 
	width: 93%;
	text-align: center;
}

div.end div.rank span.rankText {
	float: left;
	width: 30%;
	font-size: 1.5em;
}

div.end div.rank span.rankAward {
	float: left;
	width: auto;
	text-align: left;
	font-size: 1.2em;
}
	

div.end div.ranking-bar {
    height: 13px;
    left: -136px;
    top: -198px;
    width: 383px;
}

div.end div.position {
    width: 102%;
}

.back p button {
	float: right;
}
